<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="listFilter" placeholder="Filter">
</mat-form-field>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="filteredProducts">

    <ng-container matColumnDef="productName">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell class='mobile-cell' *matCellDef="let element">
        <span class="mobile-label">Name:</span>
        <a [routerLink]="['/products', element.productId]">
          {{ element.productName }}
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="shop">
      <mat-header-cell *matHeaderCellDef> Shop</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Shop:</span>
        {{element.shop}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="availability">
      <mat-header-cell *matHeaderCellDef> Availability</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Availability:</span>
        {{element.availability}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Price:</span>
        {{element.price}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
