<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="users">

    <ng-container matColumnDef="login">
      <mat-header-cell *matHeaderCellDef>Login</mat-header-cell>
      <mat-cell  class='mobile-cell' *matCellDef="let element">
        <span class="mobile-label">Login:</span>
        {{element.login}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Name:</span>
        {{element.name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Role:</span>
        {{element.role}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
